@media (min-width: 980px) {
  body {
    padding-top: 60px; /*account for hidden area underneath collapsible navbar*/
  }

  .linediv-l {
    border-right: 1px solid white;
  }

  .linediv-r {
    border-left: 1px solid white;
  }

  .container {
    min-width: 980px;
    max-width: 1400px;
  }
}

@media (max-width: 480px) {
  .copy {
    padding: 2.5% 10%;
  }
  .linediv-l {
    border-bottom: 1px solid white;
  }

  .linediv-r {
    border-top: 1px solid white;
  }
}

body {
  font-family: 'Maven Pro', Helvetica, Arial, sans-serif;
}

.heading, .subheading {
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  text-align: center;
}

.lead {
  padding-top: 1.5%;
  font-size: 24px;
  line-height: 30px; 
}

p {
  font-size: 18px;
  line-height: 24px;
}

/*News Box*/
.news {
}

.news h3 {
  color: #9AC847;
}

.news h2 {
  color: #FFFFFF;
  line-height: 1;
}

.news p {
  color: #B4B4B4;
  font-size: 16px;
}

/*Video Pitch and Action Box*/
.pitch {
  padding: 2.5% 0%; 
}

.order {
  padding: 2.0% 0%;
}

.actions {
  background-color: #343434;
  padding: 3.0% 0%;
}

.video, .thermometer, .order, .social, .statistics {
  text-align: center;
}

.statistics h3, .statistics p {
  color: white;
}

/*Marketing Copy and Footer*/
.copy {
  padding-top: 2.5%;
  padding-bottom: 2.5%;
  text-align: justify;
}

.asset {
  padding: 2.5% 0%;
}

.footer {
  color: #cccccc;
  text-align: center;
}

.footer p {
  font-size: 11px;
}

.footer a {
  color: #ccccff;
}

/*General Stuff*/
.dark-row {
  background: none repeat scroll 0 0 #343434;
  margin-left: auto;
  margin-right: auto;
  max-width: 1400px;
  padding: 30px 0;
  position: relative;
  z-index: 1;
}