body {
  padding-top: 60px; /*account for hidden area underneath collapsible navbar*/
  padding-bottom: 20px;
}

.heading, .subheading {
  text-align: center;
}
/*
.navigation, .pitch, .section1, .section2, .faq, .footer {
  padding: 10px 0px;
}

.video, .thermometer, .order, .social {
  border: 1px dotted;
  text-align: center;
}

.video {
  height: 124px;
  line-height: 124px;
}

.thermometer, .order, .social {
  height: 40px;
  line-height: 40px;
}

div.row {
  border: 1px solid;
}*/